
/* styles/Settingprofile.module.css */
.profile-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
  }

.profile-name {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
.profile-number {
    font-size: 14px;
    color: #666;
  }